@import url(https://fonts.googleapis.com/css?family=Roboto);

/* -------------------------------------------------------------------------- */
/* DEFAULT FONT
/* -------------------------------------------------------------------------- */

* {
    font-family: "Roboto", Helvetica, sans-serif;

    color: #3a3a3a;
}

/* -------------------------------------------------------------------------- */
/* PRIMARY COLOURS
/* -------------------------------------------------------------------------- */

.songkick-black {
    color: #3a3a3a;
}

.songkick-pink {
    color: #f80046;
}

/* -------------------------------------------------------------------------- */
/* PRIMARY ELEMENTS
/* -------------------------------------------------------------------------- */

.glowable:focus {
    border-color: #f80046;
    outline: none;
    box-shadow: 0 0 0 rgba(0, 0, 0, .075) inset, 0 0 6px #f80046;
}

.dropdown-black li a:hover {
    color: white;
    background-color: #3a3a3a;
}

.dropdown-pink li a:hover {
    color: white;
    background-color: #f80046;
}

/* -------------------------------------------------------------------------- */
/* NAVBAR
/* -------------------------------------------------------------------------- */

.navbar {
    margin: 0;
}

#city-menu-btn,
#city-menu-btn:hover,
#city-menu-btn:focus {
    color: white;
    border-color: #3a3a3a;
    background-color: #3a3a3a;
}

#by-menu-label {
    min-width: 80px;
    max-width: 80px;
}

#by-menu-select {
    display: none;
}

#search-field {
    width: 100px;
}

#search-message {
    margin-left: 2px;
}

#songkick-concerts {
    width: 130px;
    height: 30px;
    margin-top: 10px;
}

.navbar-right {
    margin-right: 5px;
}

#signup-btn,
#signup-btn:hover
#signup-btn:focus {
    color: white;
    border-color: #f80046;
    background-color: #f80046;
}

/* -------------------------------------------------------------------------- */
/* MAP
/* -------------------------------------------------------------------------- */

#map {
    width: 105%;
    height: 620px;
}

/* -------------------------------------------------------------------------- */
/* LISTING
/* -------------------------------------------------------------------------- */

table {
    width: 100%;
    margin-top: -5px;
}

table * {
    display: block;
}

tbody {
    overflow-y: auto;

    height: 590px;
}

th,
td {
    float: left;

    width: 25%;
}

th {
    height: 30px;

    text-align: left;
}

tr:after {
    display: block;
    clear: both;

    content: " ";
}

.listing-date {
    width: 15%;
}

.listing-time {
    width: 8%;
}

.listing-lineup {
    width: 40%;
}

.listing-venue {
    width: 30%;
}

.listing-url {
    width: 7%;
}

.songkick-icon {
    width: 16px;
    height: 16px;

    border: 0;
}

/* -------------------------------------------------------------------------- */
/* USER PAGES
/* -------------------------------------------------------------------------- */

.page-header {
    text-align: center;
}

.account-input {
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/* COMMON
/* -------------------------------------------------------------------------- */

a {
    color: inherit;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: none;
}

input[type="date"]:focus {
    box-shadow: none;
}

input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background: none;
}
