/* -------------------------------------------------------------------------- */
/* COMMON
/* -------------------------------------------------------------------------- */

* {
    font-family: "Roboto", Helvetica, sans-serif;
    color: #3a3a3a;
}

.songkick-black {
    color: #3a3a3a;
}

.songkick-pink {
    color: #f80046;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/* NAVBAR
/* -------------------------------------------------------------------------- */

.dropdown-menu li a:hover {
    color: white;
    background-color: #f80046;
}

#user-menu,
#signin-btn {
    margin-right: 5px;
}

#signup-btn {
    border-color: #f80046;

    color: white;
    background-color: #f80046;
}

/* -------------------------------------------------------------------------- */
/* AUTHENTICATION PAGES
/* -------------------------------------------------------------------------- */

.page-header {
    text-align: center;
}

div input {
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/* MAP
/* -------------------------------------------------------------------------- */

#map {
    width: 100%;
    height: 600px;
    margin: 5px;
}

/* -------------------------------------------------------------------------- */
/* LISTING
/* -------------------------------------------------------------------------- */

table {
    width: 100%;
}

table * {
    display: block;
}

tbody {
    overflow-y: auto;
    height: 570px;
}

th {
    height: 30px;

    text-align: left;
}

th,
td {
    float: left;

    width: 25%;
}

tr:after {
    content: ' ';

    display: block;
    clear: both;
}

.listing-venue {
    width: 30%;
}

.listing-lineup {
    width: 40%;
}

.listing-date {
    width: 15%;
}

.listing-time {
    width: 8%;
}

.listing-url {
    width: 7%;
}

.songkick-sm {
    width: 16px;
    height: 16px;
    border: 0;
}
