<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
    <head>
        <title>MusicOn</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/musicon.css' %}" />
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <span class="songkick-black">Music</span><span class="songkick-pink">On</span>
                    </a>
                </div> <!-- /.navbar-header -->

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                            <div class="btn-group" id="user-menu">
                                <button class="btn btn-default navbar-btn">
                                    <b><span class="songkick-pink">{{ user.first_name }}</span></b>
                                </button>
                                <button class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="sr-only">User Menu</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="/myevents/">My Events</a></li>
                                    <li><a href="/myvenues/">My Venues</a></li>
                                    <li class="divider" role="separator"></li>
                                    <li><a href="/accounts/signout/">Sign out</a></li>
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <a href="/accounts/signup/">
                            <button class="btn btn-default navbar-btn" id="signup-btn">Sign up</button>
                        </a>
                        <a href="/accounts/signin/">
                            <button class="btn btn-default navbar-btn" id="signin-btn">Sign in</button>
                        </a>
                    {% endif %}
                </ul>
            </div> <!-- /.container-fluid -->
        </nav>
    </body>

    {% block content %}
    {% endblock %}
</html>

<!-- JS -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/musicon.js' %}"></script>
